.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  
  
}



.header {
  
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.bio {

  text-align: center;
  color: black;
  margin-top: 16px;
  
}

.waveButton {
  
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: lightsteelblue;
  
}

.walletButton {

  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: lightseagreen;

}

.form-group{
  margin-top: 16px;
  border:0;
  padding:8px;
  border-radius: 5px;
  width: 579px;
}
#exampleFormControlTextarea1{
  background-image: linear-gradient(135deg, #bdc2e8 10%, #e6dee9 100%);
  border:;
  border-radius: 10px;
  padding:8px;
}

.dImage{
  display: flex;
  justify-content: center;
  max-width: 100%;
}
/* App.css */

body {
  /* background-image: url("src/bgImg.jpg"); */
  /* background-image: linear-gradient(135deg, #cc208e 10%, #6713d2 100%); */
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Adjust styles for smaller screens, if needed */
}

@media only screen and (min-device-width: 481px) {
  /* Adjust styles for larger screens, if needed */
}


/* Add the rest of your existing styles below this line */
